.main {
    padding: 16px;
}

img.poster {
    width: 100%;
    height: auto;    
    border-radius: 2%;
}

.title {
    font-size: x-large;
    margin: 0%;
}

.sub-info {
    padding: 0%;
}

.sub-info li {
    display: inline;
    opacity: .7;    
}

.sub-info li::after {    
    content: '/';
    margin: 0px 8px;
}

div.actioncircles {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;
}

button.action {
    color: rgba(0, 0, 0, 0.85);
    border-color: #d9d9d9;
    opacity: .7;
    margin-right: 16px;
}

button.action:hover {
    color: #40a9ff;    
    border-color: #40a9ff;
    opacity: 1;
}

button.actionChecked {
    color: #40a9ff;    
    border-color: #40a9ff;
    opacity: 1;
    margin-right: 16px;
}

button.actionChecked:hover {
    color: rgba(0, 0, 0, 0.85);
    border-color: #d9d9d9;
    opacity: .7;    
}