.main {
    padding: 16px;
}

img.poster {
    width: 100%;
    height: auto;    
    border-radius: 2%;
}

.title {
    font-size: x-large;
    margin: 0%;
}

.sub-info {
    padding: 0%;
}

.sub-info li {
    display: inline;
    opacity: .7;    
}

.sub-info li::after {    
    content: '|';
    margin: 0px 8px;
}

div.actioncircles {
    display: flex;
    justify-content: start;
    align-items: center;
}

button.action {
    color: #3c312d;    
    margin-right: 16px;
}

button.action:hover {
    opacity: 1;
}