div.ant-card-body {
    padding: 8px;
}


div.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0px;    
    font-size: 14px;
}

.content-image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.content-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.content-image:hover {
    transform: scale(1.2);
}

.action {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.85);    
    opacity: .7;
}

.action:hover {    
    color: #40a9ff;    
    opacity: 1;
}

.actionChecked {
    color: #40a9ff;    
    opacity: 1;
} 

.actionChecked:hover {
    color: rgba(0, 0, 0, 0.45);    
    opacity: .7;    
}