.filter-form form.ant-form {    
    padding: 16px;
    border: 1px solid #d9d9d9;     
    /* 001529 */
}

.filter-form div.ant-form-item {
    margin-bottom: 0px;
}

.filter-form div.formrow {
    margin-bottom: 8px;
}